.table {
  margin-top: 20px;
  overflow: scroll;
  color: #ffffff;
  background-color: rgb(8, 0, 0);
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #221f33;
}
